{% extends 'core/baseadmin.html' %}
{% block titulo %}
Actualizar Perro
{% endblock %}
{% block contenedor %}
    {% load static %}
        <link rel="stylesheet" href="static/core/css/style.css">
        <link rel="stylesheet" href="static/core/css/estilonav.css">
<h1 id=titTabla class="display-4">Formulario de actualizar perro</h1>
{%if mensaje%}
<div class="alert alert-success" role="alert">
    Actualizacion exitosa.
</div>
{%endif%}
<div id=divForm>
<form method="POST">                    
    {%csrf_token%}
        <label for="idperro">ID perro:</label>
        <div class=form-row style="padding-bottom: 10px">
                <div class="col">
                <select class="form-control" name="idperro">
                    {%for p in perros%}
                        {%if p.idperro == per.idperro%}
                            <option selected>{{p.idperro}}</option>
                        {%else%}
                            <option>{{p.idperro}}</option>
                        {%endif%}
                    {%endfor%}
                </select>
                </div>
                <div class="">
                <input class="btn btn-success" name="btnAccion" type="submit" value="Buscar" formnovalidate/>
                </div>
        </div>
        <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input minlength="1" maxlength="50" class="form-control" type="text" name="nombre" value="{{per.nombre}}" required/>
        </div>
        <div class="form-group">
                <label for="raza">Raza:</label>
                <input minlength="1" maxlength="100" class="form-control" type="text" name="raza" value="{{per.raza}}" required/>
        </div>
        <div class=form-group>
                <label for="edad">Edad:</label>
                <input min="0" max="30" class="form-control" type="number" name="edad" value="{{per.edad}}" required/>
        </div>
        <div class=form-group>
                <label for="tamano">Tamaño (cm):</label>
                <input min="1" max="300" class="form-control" type="number" name="tamano" value="{{per.tamano}}" required/>
        </div>

        <tr>
            <td colspan="2">
                <input type="submit" name="btnAccion" class="btn btn-primary" value="Modificar">
                <input type="reset" class="btn btn-dark" value="Limpiar">
            </td>
        </tr>
    </table>
</form>
<br>
</div>
{%endblock%}