{%extends 'core/baseadmin.html'%}
{%block titulo%}
    Actualizar postulante
{%endblock%}
{%block contenedor%}
    {% load static %}
    <link rel="stylesheet" href="static/core/css/style.css">
    <link rel="stylesheet" href="static/core/css/estilonav.css">


    <h1 id=titTabla class="display-4">Formulario de actualizar postulante</h1>
    {%if mensaje%}
    <div class="alert alert-success" role="alert">
        Actualizacion exitosa.
    </div>
    {%endif%}

    <form method="POST">
            <div id=divForm>
                <div class="form-group" >
                        {%csrf_token%}
                        <label for="rut">Rut:</label>
                        <div class=form-row style="padding-bottom: 10px">
                        <div class="col">
                        <select class="form-control" name="rut">
                                {%for p in postulantes%}
                                    {%if p.rut == po.rut%}
                                        <option selected>{{p.rut}}</option>
                                    {%else%}
                                        <option>{{p.rut}}</option>
                                    {%endif%}
                                {%endfor%}
                            </select>
                        </div>
                            <input class="btn btn-success" name="btnAccion" type="submit" value="Buscar" formnovalidate/>                        
                            <!--<small id="emailHelp" class="form-text text-muted">Mayor que 0.</small>-->
                        </div>
                <div class="form-group">
                            <label for="nombrecompleto">Nombre Completo::</label>
                            <input minlength="1" maxlength="50" class="form-control" type="text" name="nombrecompleto" value="{{po.nombreCompleto}}" required/>
                </div>
                <div class="form-group">
                            <label for="fechanac">Fecha de nacimiento:</label>
                            <input class="form-control" type="date" name="fechanac" value="{{po.fechaNac}}" required>
                </div>
                <div class=form-group>
                            <label for="fono">Fono:</label>
                            <input minlength="8" maxlength="9" class="form-control" type="tel" name="fono" value="{{po.fono}}" required/>
                </div>
                <div class=form-group>
                            <label for="correo">Correo:</label>
                            <input minlength="4" maxlength="50" class="form-control" type="text" name="correo" value="{{po.correo}}" required/>
                </div>
                <div class=form-group>
                    <label for="region">Region:</label>
                    <select class="form-control" name="region" required>
                    <option value="" disabled selected>Seleccione</option>
                    {% for reg in regiones %}
                        {%if reg.idregion == po.region.idregion%}
                            <option selected value="{{reg.idregion}}">{{reg.descripcion}}</option>
                        {%else%}
                            <option value="{{reg.idregion}}">{{reg.descripcion}}</option>
                        {%endif%}
                    {% endfor %}
                    </select>
                </div>
                <div class=form-group>
                    <label for="ciudad">Ciudad:</label>
                    <select class="form-control" name="ciudad" required>
                            <option value="" disabled selected>Seleccione</option>
                            {% for ciu in ciudades %}
                                {%if ciu.idciudad == po.ciudad.idciudad%}
                                    <option selected value="{{ciu.idciudad}}">{{ciu.descripcion}}</option>
                                {%else%}
                                    <option value="{{ciu.idciudad}}">{{ciu.descripcion}}</option>
                                {%endif%}
                            {% endfor %}
                    </select>   
                </div>
                <div class=form-group>
                        <label for="tipovivienda">Tipo vivienda:</label>
                        <select class="form-control" name="tipovivienda" required>
                                <option value="" disabled selected>Seleccione</option>
                                {% for tip in tipoviviendas %}
                                    {%if tip.idtipo_vivienda == po.tipoVivienda.idtipo_vivienda%}
                                        <option selected value="{{tip.idtipo_vivienda}}">{{tip.descripcion}}</option>
                                    {%else%}
                                        <option value="{{tip.idtipo_vivienda}}">{{tip.descripcion}}</option>
                                    {%endif%}
                                {% endfor %}
                        </select>
                    </div>
                    <input type="submit" name="btnAccion" class="btn btn-primary" value="Modificar">
                    <input type="reset" class="btn btn-dark" value="Limpiar">
                </div>
            </div>
            <br>
        </form>
{%endblock%}