{% extends 'core/baseadmin.html' %}
{% block titulo %}
Eliminar Rescatados
{% endblock %}
{% block contenedor %}
    {% load static %}

            <link rel="stylesheet" href="static/core/css/style.css">
            <link rel="stylesheet" href="static/core/css/estilonav.css">

    <body>
        <h1 class="display-4 text-muted" >Eliminar rescatado</h1>
        {%if respuesta%}
        <div class="alert alert-success" role="alert">
            Registro eliminado exitosamente.
        </div>
        {%endif%}
        <form method="POST">
            {%csrf_token%}
            Seleccione Rescatado a eliminar:
            <select class="form-control-sm" name="idRescatado">
                {%for r in rescatados%}
                    <option>{{r.idRescatado}}</option>
                {%endfor%}
            </select>
            <input class="btn btn-danger" type="submit" value="Eliminar">
        </form>
        <br>
    </body>
{% endblock %}