{% extends 'core/baseadmin.html' %}
{% block titulo %}
Eliminar Postulantes
{% endblock %}
{% block contenedor %}
{% load static %}

            <link rel="stylesheet" href="static/core/css/style.css">
            <link rel="stylesheet" href="static/core/css/estilonav.css">

    <body>

        <h1 id=titTabla class="display-4">Eliminar postulante</h1>
        {%if respuesta%}
        <div class="alert alert-success" role="alert">
            Registro eliminado exitosamente.
        </div>
        {%endif%}
        <form method="POST">
            {%csrf_token%}
            <div id=divForm>
                    Seleccione Postulante a eliminar:
                    <select class="form-control" name="rut">
                        {%for p in postulantes%}
                        <option>{{p.rut}}</option>
                        {%endfor%}
                    </select>
                <center style="padding: 10px">
                    <input class="btn btn-danger" type="submit" value="Eliminar">
                </center>
            </div>
            </form>
            <br>
        </body>
    {% endblock %}
