{% extends 'core/baseadmin.html' %}
{% block titulo %}
Formulario de perros
{% endblock %}
{% block contenedor %}
{% load static %}

            <link rel="stylesheet" href="static/core/css/style.css">
            <link rel="stylesheet" href="static/core/css/estilonav.css">

    <h1 id=titTabla class="display-4">Formulario ingreso de perro</h1>
    {%if respuesta%}
    <div class="alert alert-success" role="alert">
        Guardado exitoso.
    </div>
    {%endif%}
        <form method="POST">
            <div id=divForm>
                <div class="form-group" >
                        {%csrf_token%}
                        <label for="idperro">ID perro:</label>
                        <input min="0" max="999999999"  class="form-control" type="number" name="idperro" id="idperro" required>
                        <!--<small id="emailHelp" class="form-text text-muted">Mayor que 0.</small>-->
                </div>
                <div class="form-group">
                            <label for="nombre">Nombre:</label>
                            <input minlength="1" maxlength="50" class="form-control" type="text" name="nombre" id="nombre" required>
                </div>
                <div class="form-group">
                            <label for="raza">Raza:</label>
                            <input minlength="1" maxlength="100" class="form-control" type="text" name="raza" id="raza" required/>
                </div>
                <div class=form-group>
                            <label for="edad">Edad:</label>
                            <input min="0" max="30" class="form-control" type="number" name="edad" id="edad" required>
                </div>
                <div class=form-group>
                            <label for="tamano">Tamaño (cm):</label>
                            <input min="1" max="300" class="form-control" type="number" name="tamano" id="tamano" required>
                </div>

            
                    <td colspan="2">
                        <input type="submit" class="btn btn-primary" value="Grabar">
                        <input type="reset" class="btn btn-dark" value="Limpiar" formnovalidate>
                    </td>
                </div>
            </div>
            <br>
        </form>
        
        <br>
{% endblock %}