{%extends 'core/baseadmin.html'%}
{%block titulo%}
    Ingreso de postulante
{%endblock%}
{%block contenedor%}
{% load static %}
       
        <link rel="stylesheet" href="static/core/css/style.css">
        <link rel="stylesheet" href="static/core/css/estilonav.css">

    <h1 id=titTabla class="display-4">Formulario ingreso de postulante</h1>
    {%if respuesta%}
    <div class="alert alert-success" role="alert">
        Guardado exitoso.
    </div>
    {%endif%}
        <form method="POST">
                <div id=divForm>
                    <div class="form-group" >
                            {%csrf_token%}
                            <label for="rut">Rut:</label>
                            <input minlength="8" maxlength="9" class="form-control" type="tel" name="rut" id="rut" required/>
                            <!--<small id="emailHelp" class="form-text text-muted">Mayor que 0.</small>-->
                    </div>
                    <div class="form-group">
                                <label for="nombrecompleto">Nombre Completo::</label>
                                <input minlength="1" maxlength="50" class="form-control" type="text" name="nombrecompleto" id="nombrecompleto" required/>
                    </div>
                    <div class="form-group">
                                <label for="fechanac">Fecha de nacimiento:</label>
                                <input class="form-control" type="date" name="fechanac" id="fechanac" required>
                    </div>
                    <div class=form-group>
                                <label for="fono">Fono:</label>
                                <input minlength="8" maxlength="9" class="form-control" type="tel" name="fono" id="fono" required/>
                    </div>
                    <div class=form-group>
                                <label for="correo">Correo:</label>
                                <input minlength="4" maxlength="50" class="form-control" type="email" name="correo" id="correo" required/>
                    </div>
                    <div class=form-group>
                        <label for="region">Region:</label>
                        <select class="form-control" name="region" id="region" required>
                                <option value="" disabled selected>Seleccione una region</option>
                                {% for reg in regiones %}
                                <option value="{{reg.idregion}}">{{reg.descripcion}}</option>
                                {% endfor %}
                        </select>
                    </div>
                    <div class=form-group>
                        <label for="ciudad">Ciudad:</label>
                        <select class="form-control" name="ciudad" id="ciudad" required>
                                <option value="" disabled selected>Seleccione ciudad</option>
                                {% for ciu in ciudades %}
                                    <option value="{{ciu.idciudad}}">{{ciu.descripcion}}</option>
                                {% endfor %}
                        </select>     
                    </div>
                    <div class=form-group>
                            <label for="tipovivienda">Tipo vivienda:</label>
                            <select class="form-control" name="tipovivienda" required>
                                    <option value="" disabled selected>Seleccione tipo de vivienda</option>
                                    {% for tip in tipoviviendas %}
                                    <option value="{{tip.idtipo_vivienda}}">{{tip.descripcion}}</option>
                                    {% endfor %}
                                </select>
                        </div>
                            

                                <input type="submit" class="btn btn-primary" value="Grabar">
                                <input type="reset" class="btn btn-dark" value="Limpiar">
                    </div>
                </div>
                <br>
            </form>
{%endblock%}
